BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120
ContinuationIndentWidth: 4
AccessModifierOffset: -4

BreakBeforeBraces: Allman
NamespaceIndentation: All
CompactNamespaces: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
PointerAlignment: Left

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
